

* {
    margin:0;
    padding:0;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}





.main-grid {

    display: grid;
    width: 95%;
    margin:auto;
    margin-top:3vh;
    grid-template-columns: 30% 65%;
    grid-gap: 5%;
}


.test {
    background-color: black;
    color:white;
    border: 1px solid white;
}


.blog-header {
    
    margin-bottom: 2vh;
    height: 50px;
}

.blog-header h1 {
    padding: 2vh;
    margin:auto;
}


.boxed {
    border: 2px solid gray;
    box-shadow: 2px 2px 2px gray;
}


.main-collection {

    height:calc(100vh - 70px);
    overflow-y: scroll;
}

.main-collection>*{
    padding-left: 2vw;
}

.main-collection ul {
    list-style: none;
}

.even-grid {
    display: grid;
    grid-template-columns: 45% 50%;
    grid-gap: 5%;
}

hr {
    border-bottom: 1px solid var(--text-color);
}